<template>
    <div class="gx-cont-box">
        <div class="camp">진영 : {{ campCamp }}</div>
        <div class="photo"><img :src="photoPhoto" :alt="cpnameCpname"/></div>
        <div class="cpname">{{ cpnameCpname }}</div>
        <div class="cpbody">{{ cpbodyCpbody }}</div>
        <div><nuxt-link :to="'/vp/products/' + id">자세히보기</nuxt-link></div>
    </div>
</template>

<script>
export default {
    props: {
        id: {
          type: Number,
          required: true
        },
        campCamp: {
            type: String,
            required: true
        },
        photoPhoto: {
            type: String,
            required: true
        },
        cpnameCpname: {
            type: String,
            required: true
        },
        cpbodyCpbody: {
            type: String,
            required: true
        }
    }
}
</script>
