<template>
    <div>
        <lazy-lol-champion-info
            v-for="(item, index) in champions"
            v-bind:key="index"
            v-bind:id="item.id"
            v-bind:cpbody-cpbody="item.cpbodyName"
            v-bind:cpname-cpname="item.cpnameName"
            v-bind:photo-photo="item.photoName"
            v-bind:camp-camp="item.campName"
        />
    </div>
</template>

<script>
export default {
    data() {
        return {
            champions: [
                {
                    id: 1,
                    campName: '데마시아',
                    photoName: '/images/cam_01.jpg',
                    cpnameName: '자르반 4세',
                    cpbodyName: '자르반4세는 적군 진형을 파괴하는 딜탱형 챔피언으로 적당한 공격능력과 방어능력을 동시에 갖추고 있습니다. 깃발과 궁극기를 사용하면 적군 진영 가장 뒤쪽에 있는 딜러들을 고립시켜 아군을 유리하게 만드는 역할을 합니다. 자르반4세는 정글 플레이도 가능한 챔피언입니다.'
                },
                {
                    id: 2,
                    campName: '밴들시티',
                    photoName: '/images/cam_02.jpg',
                    cpnameName: '티모',
                    cpbodyName: '티모는 원거리 공격수로 성향에 다양한 성장이 가능합니다. 빠른 이동속도로 치고 빠지는 게릴라식 전투에 능하며 버섯을 이용한 맵 정찰로 팀에 기여할 수 있습니다. 물리 공격 챔피언을 잠시동안 무력화 시킬 수 있으며 패시브를 이용한 매복 공격도 가능합니다.'
                },
                {
                    id: 3,
                    campName: '밴들시티',
                    photoName: '/images/cam_03.jpg',
                    cpnameName: '유미',
                    cpbodyName: '유미는 아군을 보조하는 데 특화된 서포터 챔피언입니다. \'밀착\' 상태에선 아군의 능력치를 올려주고, 포탑 이외의 대상에겐 공격을 받지 않는다는 특징을 가지고 있습니다다. \'밀착\'을 이용한 다채로운 플레이가 가능한 유틸형 서포터로, 강력한 견제와 아군 보조를 수행해냅니다.'
                },
                {
                    id: 4,
                    campName: '데마시아',
                    photoName: '/images/cam_04.jpg',
                    cpnameName: '갈리오',
                    cpbodyName: '갈리오는 강력한 안티 메이지 탱커로 한순간 적군을 도발하여 팀 파이트 상황을 유리하게 만드는 챔피언입니다. 다양한 CC기와 듀란드의 방패를 이용한 탱킹력으로 아군을 보호하며 전투를 유리하게 풀어 나갈 수 있습니다.마법으로 인해 생명을 얻고, 마법사로부터 데마시아를 지켜낸다. '
                },
                {
                    id: 5,
                    campName: '공허',
                    photoName: '/images/cam_05.jpg',
                    cpnameName: '벨베스',
                    cpbodyName: '오벨베스는 한 대상을 상대로 공격을 이어갈 때 강력한 효과를 받는 챔피언입니다. 스킬을 사용하면 유체화 및 공속 증가 효과를 얻고, 같은 대상을 공격해 고정 피해를 중첩해 나갈 수 있습니다. 궁극기는 에픽 몬스터나 챔피언 처치에 관여하면 생성 되는 공허 산호 조각을 통해 사용 할 수 있다.'
                },
                {
                    id: 6,
                    campName: '슈리마',
                    photoName: '/images/cam_06.jpg',
                    cpnameName: '제라스',
                    cpbodyName: '고대 슈리마를 몰락시킨 노예 출신 마법사. 아지르를 배신하고 초월체가 되었다. 그후 레넥톤과 나서스에 의해 봉인되었지만 수천 년 후 카시오페아에 의해 봉인에서 풀려났다.'
                }


            ]
        }
    }
}
</script>
